# Git
.git
.gitignore
.github/

# Go
vendor/

# Local databases
database/

# node
node_modules

# JS tests
**/__tests__/
**/*.test.js
**/*.spec.js
**/*.test.mjs
**/*.spec.mjs
test-support/

# Build artifacts
bin/kids-checkin

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Environment variables
.env*

# air live reload
tmp
